


.mdc-typography {
    --mdc-theme-primary: #757575;
    margin: 0rem 0rem 0rem 0rem ;

}

.footer{
    background-color: #616161;
    padding: 1rem 1rem 1rem 1rem;
    color: white;

}

.mdc-tab{
    background-color: #424242 !important; 
    
}

.background{
    background-image: url(images/brickwall2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.demo-card {
    margin: 20pt;
    z-index: 10;
    box-shadow: #ffffff;
    

}

.logostyle {
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    display: in-line;
}

.midwaystyle{
    background: linear-gradient(rgba(69,39,160, 0.3),rgba(69,39,160, 0.3)),
    no-repeat center/cover url(images/landingimage.png); padding: 5vw; 
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0rem 0rem 0rem 0rem ;
    font-size: calc(32px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));

}

.mdc-card {
    background-color: #212121;
}

.mdc-typography--headline2 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #EEEEEE;
    text-align: center;
}

.mdc-typography--headline4 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #EEEEEE;
    font-family: 'Rye';
}
.mdc-typography--headline5 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #E0E0E0;
}
.mdc-typography--headline6 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #BDBDBD;
    font-family: 'Rye';
    
}

.mdc-tab__text-label{
    font-family: 'Tahoma';
    color: #E0E0E0;
    
}

.mdc-typography--body1 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #E0E0E0;
    font-family: Tahoma;
    
}

.mdc-typography--body2 {
    margin: 1rem 1rem 1rem 1rem;
    color: #E0E0E0;
    font-family: Tahoma;
}

.mdc-typography--overline {
    margin: 5rem 5rem 5rem 5rem;
    text-decoration: none;
}

.italic {
    font-style: italic;
}


.my-image-list{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.mdc-image-list__item{
    margin: 10px;
    border-radius: 8px;
    min-width: 200pt;
}

.mdc-image-list__image{
    border-radius: 8px; 
}  

.mdc-image-list__label{
    border-radius: 0 0 8px 8px;
    margin: 0rem 0rem 0rem 0rem;
    white-space: normal;
    overflow: visible;
    font-weight: bold;
    color: #41271D; 
}

.adjust {
    position: none;
    border-radius: 0 0 8px 8px!important; 
    padding: 10px !important;
    height: auto !important;
    /* background: linear-gradient(rgba(96, 125, 139, 0.3),rgba(96, 125, 125, 0.3)) !important; */
    
}

.mdc-list-item{
    padding: .25rem;
    margin: 0rem 0rem 0rem 3rem ;
    text-decoration: none !important;
}


.list-adjust {
    font-size: 90%;
    text-decoration: none !important;
    padding: 0rem 0rem 0rem .5rem ;
    color: #5F422F;
}




.spacemaker {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacemakeritem {
    width: 5em;
}

