


.mdc-typography {
    --mdc-theme-primary: #757575;
    margin: 0rem 0rem 0rem 0rem ;

}


.mdc-tab{
    background-color: #9E9E9E !important; 
    
}

.background{
    background-image: url(images/brickwall2.jpeg);
    background-size: contain;
    /*background-repeat: no-repeat; */
}

.background2 {
    background-image: url(images/lilac2.png);
    background-size: contain;
    background-repeat: repeat-x;

}

.demo-card {
    margin: 20pt; 
    z-index: 10;
    box-shadow: #ffffff;
    

}

.logostyle {
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    display: in-line;
}



.mdc-card {
    background-color: #212121;
}

.mdc-typography--headline2 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #EEEEEE;
    text-align: center;

}

.mdc-typography--headline3 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #EEEEEE;
    font-family: 'Rye';
    text-align: center;
}

.mdc-typography--headline4 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #EEEEEE;
    font-family: 'Rye';
    text-align: center;
}
.mdc-typography--headline5 {
    margin: 1rem 1rem 1rem 1rem ;
    font-family: 'Rye';
    color: #E0E0E0;
}
.mdc-typography--headline6 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #BDBDBD;
    font-family: 'Rye';
    
}

.mdc-tab__text-label{
    font-family: 'Rye';
    color: #EEEEEE !important;
    
}

.mdc-typography--body1 {
    margin: 1rem 1rem 1rem 1rem ;
    color: #E0E0E0;

    
}

.mdc-typography--body2 {
    margin: 1rem 1rem 1rem 1rem;
    color: #E0E0E0;
}

.mdc-typography--overline {
    color: #E0E0E0;
    text-align: center;
    margin: 1rem;
}

.italic {
    font-style: italic;
}

.spacemaker {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacemakeritem {
    width: 10%
}

.spacemakeritem2 {
    width: 20em;

}


.aboutimage{
    /* display: inline-block; */
    /* float: left;
    margin: 20px; */
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
    }

.my-mdc-list-item__graphic{
    width: 4rem;
    margin: 1rem;
    vertical-align: middle;
}


.mdc-list-item__primary-text{
    font-family: 'Rye';
    color: #EEEEEE !important;

}

.mdc-list-item__secondary-text{
    color: #EEEEEE !important;

}

.mdc-list-item{
    padding: .5rem;
    margin: 2rem 0rem 2rem 0rem ;
    text-decoration: none !important;
}

.c{
    text-align: center;
}








.my-image-list{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.mdc-image-list__item{
    margin: 10px;
    border-radius: 8px;
    min-width: 200pt;
}

.mdc-image-list__image{
    border-radius: 8px; 
}  

.mdc-image-list__label{
    border-radius: 0 0 8px 8px;
    margin: 0rem 0rem 0rem 0rem;
    white-space: normal;
    overflow: visible;
    font-weight: bold;
    color: #41271D; 
}

.adjust {
    position: none;
    border-radius: 0 0 8px 8px!important; 
    padding: 10px !important;
    height: auto !important;
    /* background: linear-gradient(rgba(96, 125, 139, 0.3),rgba(96, 125, 125, 0.3)) !important; */
    
}




.list-adjust {
    font-size: 90%;
    text-decoration: none !important;
    padding: 0rem 0rem 0rem .5rem ;
    color: #5F422F;
}






